<!DOCTYPE html>
<<<<<<< HEAD
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý âm nhạc</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .Textcenter {
            text-align: center;
            font-weight: bold;
        }

        .btn-group {
            margin-top: 9px;
        }
      .title-cell {
        width: 200px;
        font-weight: bold;
        color: #333;
    }
    
.image-cell {
  width: 160px;
  text-align: center;
   justify-content: space-around;
  align-items: center;
}

.genre-cell {
     width: 200px;
  font-style: italic;
}

.action-cell {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Style cho table */
#songsTable {
  width: 100%;
  border-collapse: collapse;
}

#songsTable th,
#songsTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#songsTable th {
  background-color: #f2f2f2;
  color: #333;
}
.nav-menu{
    width: ;
    display: inline-flex;
   background-color: #f8f9fa;
}
    </style>
   
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
   
</head>

<body>
    <h1>Quản lý âm nhạc</h1>

    <div class="nav-menu">
    <button style="margin: 20px !important;" type="button" class="btn btn-primary" data-bs-toggle="modal"
=======
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quản lý âm nhạc</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
        <style>
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            .Textcenter {
                text-align: center;
                font-weight: bold;
            }

            .btn-group {
                margin-top: 9px;
            }
            .box-seach{
                width: 100%;
                background-color: rgb(28, 50, 50);
                display: inline-flex;
            }
        </style>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    </head>

    <body>
        <h1>Quản lý âm nhạc</h1>
     
        <div class="box-seach">

               <button style="margin: 20px !important; height: 40px !important;" type="button" class="btn btn-primary" data-bs-toggle="modal"
>>>>>>> 476a9f7094a0c5796f38d8223e989b58fb99395d
            data-bs-target="#exampleModal">
            Thêm Bài Hát
        </button>

<<<<<<< HEAD
   <nav class="navbar bg-light">
        <div class="container-fluid">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" id="searchInput" placeholder="Tìm kiếm bài hát"
                    aria-label="Search">
                <button id="searchButton" class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </nav>

     <div class="btn-group" style="margin-left: 50px;">
        <button style="width: 180px; height: 40px; margin-top: 10px;" id="sortByTitle" class="btn btn-primary">Sắp xếp theo Tiêu đề</button>
        <button  style="width: 180px;  height: 40px; margin-top: 10px;" id="sortByArtist" class="btn btn-primary">Sắp xếp theo Ca sĩ</button>
    </div>

    <div style="display: block; margin-left: 100px;">
  <div class="form-check">
        <input type="checkbox" id="filterCopyrighted" class="form-check-input">
        <label for="filterCopyrighted" class="form-check-label">Hiển thị bài hát có bản quyền</label>
    </div>
     <div class="form-check">
        <input type="checkbox" id="filterCopyrighted" class="form-check-input">
        <label for="filterCopyrighted" class="form-check-label">Chỉ hiển thị bài hát có bản quyền</label>
    </div>
     <div class="form-check">
        <input type="checkbox" id="filterCopyrighted" class="form-check-input">
        <label for="filterCopyrighted" class="form-check-label">Chỉ hiển thị bài hát có bản quyền</label>
    </div>
    </div>
  
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm Bài Hát Mới</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampletitle">Tên Bài Hát</label>
                            <input type="text" class="form-control" id="exampletitle" placeholder="Tên bài hát">
                        </div>
                        <div class="form-group">
                            <label for "exampleartist">Ca Sĩ</label>
                            <input type="text" class="form-control" id="exampleartist" placeholder="Tên ca sĩ">
                        </div>
                        <div class="form-group">
                            <label for="exampleauthor">Tác Giả</label>
                            <input type="text" class="form-control" id="exampleauthor" placeholder="Tên tác giả">
                        </div>
                        <div class="form-group">
                            <label for="exampleauthor">Bản Quyền</label>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="copyrighted" name="radio-stacked"
                                    required>
                                <label class="form-check-label" for="copyrighted">Có Bản Quyền</label>
                            </div>
                            <div class="form-check mb-3">
                                <input type="radio" class="form-check-input" id="uncopyrighted" name="radio-stacked"
                                    required>
                                <label class="form-check-label" for="uncopyrighted">Không Bản Quyền</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="exampgenre">Thể Loại</label>
                            <select class="form-select" id="exampgenre" required aria-label="select example">
                                <option value="">Thể Loại</option>
                                <option value="Pop">Pop</option>
                                <option value="Hip-hop/Rap">Hip-hop/Rap</option>
                                <option value="Jazz">Jazz</option>
                                <option value="Classical">Classical</option>
                                <option value="Reggae">Reggae</option>
                                <option value="Blues">Blues</option>
                                <option value="Nhạc Trẻ">Nhạc Trẻ</option>
                                <option value="Trữ Tình">Trữ Tình</option>
                                <option value="Nhạc Khác">Nhạc Khác</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleurl">Link Bài Hát</label>
                            <input type="text" class="form-control" id="exampleurl" placeholder="URL bài hát">
                        </div>
                        <div class="form-group">
                            <label for="exampleimg">Link Hình Ảnh</label>
                            <input type="text" class="form-control" id="exampleimg" placeholder="Link Hình Ảnh">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
                    <button type="button" class="btn btn-primary" id="save">Lưu</button>
                </div>
            </div>
        </div>
    </div>

    <div id="pagination" class="btn-group"
        style="width: 340px; height: 35px; margin-top: 20px !important; margin-left: 170px !important;">
        <button id="prevPage" class="btn btn-primary">Trang trước</button>
        <button id="nextPage" class="btn btn-primary">Trang sau</button>
    </div>

    <!-- Modal sửa bài hát -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Sửa Bài Hát</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="hidden" id="editSongKey">
                        <div class="form-group">
                            <label for="editTitle">Tên Bài Hát</label>
                            <input type="text" class="form-control" id="editTitle">
                        </div>
                        <div class="form-group">
                            <label for="editArtist">Ca Sĩ</label>
                            <input type="text" class="form-control" id="editArtist">
                        </div>
                        <div class="form-group">
                            <label for="editAuthor">Nhạc Sĩ</label>
                            <input type="text" class="form-control" id="editAuthor">
                        </div>
                        <div class="form-group">
                            <label for="exampleauthor">Bản Quyền</label>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="editCopyrighted" name="radio-stacked"
                                    required>
                                <label class="form-check-label" for="editCopyrighted">Có Bản Quyền</label>
                            </div>
                            <div class="form-check mb-3">
                                <input type="radio" class="form-check-input" id="editCopyrighted" name="radio-stacked"
                                    required>
                                <label class="form-check-label" for="uneditCopyrighted">Không Bản Quyền</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="editGenre">Thể Loại</label>
                            <select class="form-select" id="editGenre" required aria-label="select example">
                                <option value="">Thể Loại</option>
                                <option value="Pop">Pop</option>
                                <option value="Hip-hop/Rap">Hip-hop/Rap</option>
                                <option value="Jazz">Jazz</option>
                                <option value="Classical">Classical</option>
                                <option value="Reggae">Reggae</option>
                                <option value="Blues">Blues</option>
                                <option value="Nhạc Trẻ">Nhạc Trẻ</option>
                                <option value="Trữ Tình">Trữ Tình</option>
                                <option value="Nhạc Khác">Nhạc Khác</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="editUrl">Link Bài Hát</label>
                            <input type="text" class="form-control" id="editUrl">
                        </div>
                        <div class="form-group">
                            <label for="editImage">Avatar</label>
                            <input type="text" class="form-control" id="editImage">
                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary" id="saveEdit">Lưu Sửa</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel"
        aria-hidden="true">
=======
            <div class="input-group mb-3" style="width: 300px !important; margin-left: 20px !important; height: 30px !important; margin-top: 20px !important;">
                    <input type="text" id="searchInput" class="form-control" placeholder="Tìm kiếm bài hát">
                    <button class="btn btn-outline-secondary" id="searchButton" type="button">Tìm kiếm</button>
            </div>

            <div class="btn-group" style="width: 340px; height: 35px; margin-top: 20px !important;  margin-left: 170px !important;">
                <button id="sortByTitle" class="btn btn-primary">Sắp xếp theo Tiêu đề</button>
                <button id="sortByArtist" class="btn btn-primary">Sắp xếp theo Ca sĩ</button>
            </div>
        
           

        <div >

                <div style="margin-top: 10px !important; margin-left: 10px !important;" class="form-group">    
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="filterAllCopyrighted" name="radio-stacked"
                                        required>
                                    <label style="color: white !important;" class="form-check-label" for="filterAllCopyrighted">Tất Cả</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="filterCopyrighted" name="radio-stacked"
                                        required>
                                    <label style="color: white !important;" class="form-check-label" for="filterCopyrighted">Có Bản Quyền</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input type="radio" class="form-check-input" id="filterNoCopyrighted" name="radio-stacked"
                                        required>
                                    <label style="color: white !important;" class="form-check-label" for="filterNoCopyrighted">Không Bản Quyền</label>
                                </div>
                 </div>   
            </div>
          
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Thêm Bài Hát Mới</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="exampletitle">Tên Bài Hát</label>
                                <input type="text" class="form-control" id="exampletitle" placeholder="Tên bài hát">
                            </div>
                            <div class="form-group">
                                <label for="exampleartist">Ca Sĩ</label>
                                <input type="text" class="form-control" id="exampleartist" placeholder="Tên ca sĩ">
                            </div>
                            <div class="form-group">
                                <label for="exampleauthor">Tác Giả</label>
                                <input type="text" class="form-control" id="exampleauthor" placeholder="Tên tác giả">
                            </div>
                            <div class="form-group">
                                <label for="exampleauthor">Bản Quyền</label>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="copyrighted" name="radio-stacked"
                                        required>
                                    <label class="form-check-label" for="copyrighted">Có Bản Quyền</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input type="radio" class="form-check-input" id="uncopyrighted" name="radio-stacked"
                                        required>
                                    <label class="form-check-label" for="uncopyrighted">Không Bản Quyền</label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="exampgenre">Thể Loại</label>
                                <select class="form-select" id="exampgenre" required aria-label="select example">
                                    <option value="">Thể Loại</option>
                                    <option value="Pop">Pop</option>
                                    <option value="Hip-hop/Rap">Hip-hop/Rap</option>
                                    <option value="Jazz">Jazz</option>
                                    <option value="Classical">Classical</option>
                                    <option value="Reggae">Reggae</option>
                                    <option value="Blues">Blues</option>
                                    <option value="Nhạc Trẻ">Nhạc Trẻ</option>
                                    <option value="Trữ Tình">Trữ Tình</option>
                                    <option value="Nhạc Khác">Nhạc Khác</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleurl">Link Bài Hát</label>
                                <input type="text" class="form-control" id="exampleurl" placeholder="URL bài hát">
                            </div>
                            <div class="form-group">
                                <label for="exampleimg">Link Hình Ảnh</label>
                                <input type="text" class="form-control" id="exampleimg" placeholder="Link Hình Ảnh">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
                        <button type="button" class="btn btn-primary" id="save">Lưu</button>
                    </div>
                </div>
            </div>
        </div>
         
        <table class="table table-bordered table-striped" id="songsTable">
            {{!-- trong đây là các thành phần hiển thị dữ liệu tử firebbase --}}
        </table>
        <div id="pagination" class="btn-group">
            <button style="background-color: white !important; color: black; font-size: 20px; font-weight: bold !important;" id="prevPage" class="btn btn-primary">Trang trước</button>
            <button style="background-color: white !important; color: black; font-size: 20px; font-weight: bold !important;" id="nextPage" class="btn btn-primary">Trang sau</button>
        </div>


        <!-- Modal sửa bài hát -->
        <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">Sửa Bài Hát</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <input type="hidden" id="editSongKey">
                            <div class="form-group">
                                <label for="editTitle">Tên Bài Hát</label>
                                <input type="text" class="form-control" id="editTitle">
                            </div>
                            <div class="form-group">
                                <label for="editArtist">Ca Sĩ</label>
                                <input type="text" class="form-control" id="editArtist">
                            </div>
                                <div class="form-group">
                                <label for="editAuthor">Nhạc Sĩ</label>
                                <input type="text" class="form-control" id="editAuthor">
                        </div>
                                <div class="form-group">
                                <label for="exampleauthor">Bản Quyền</label>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="editCopyrightedYes" name="radio-stacked"
                                        required>
                                    <label class="form-check-label" for="editCopyrighted">Có Bản Quyền</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input type="radio" class="form-check-input" id="editCopyrightedNo" name="radio-stacked"
                                        required>
                                    <label class="form-check-label" for="uneditCopyrighted">Không Bản Quyền</label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="editGenre">Thể Loại</label>
                                <select class="form-select" id="editGenre" required aria-label="select example">
                                    <option value="">Thể Loại</option>
                                    <option value="Pop">Pop</option>
                                    <option value="Hip-hop/Rap">Hip-hop/Rap</option>
                                    <option value="Jazz">Jazz</option>
                                    <option value="Classical">Classical</option>
                                    <option value="Reggae">Reggae</option>
                                    <option value="Blues">Blues</option>
                                    <option value="Nhạc Trẻ">Nhạc Trẻ</option>
                                    <option value="Trữ Tình">Trữ Tình</option>
                                    <option value="Nhạc Khác">Nhạc Khác</option>
                                </select>
                            </div>
                                <div class="form-group">
                                <label for="editUrl">Link Bài Hát</label>
                                <input type="text" class="form-control" id="editUrl">
                            </div>
                                <div class="form-group">
                                <label for="editImage">Avatar</label>
                                <input type="text" class="form-control" id="editImage">
                            </div>
                        
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-primary" id="saveEdit">Lưu Sửa</button>
                    </div>
                </div>
            </div>
        </div>

    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
>>>>>>> 476a9f7094a0c5796f38d8223e989b58fb99395d
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Xác nhận xóa bài hát</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa bài hát này?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteButton">Xóa</button>
                </div>
            </div>
        </div>
    </div>

<<<<<<< HEAD
    <table class="table table-bordered table-striped" id="songsTable">


    </table>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>

    <!-- Firebase JavaScript SDK -->
    <script src="https://www.gstatic.com/firebasejs/8.8.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.0/firebase-database.js"></script>
    <script>

        const firebaseConfig = {
            apiKey: "AIzaSyCZgZP878mOAM2ec-hz1WFwORxSw_J6d2k",
            authDomain: "soundbox-du-an-md31.firebaseapp.com",
            databaseURL: "https://soundbox-du-an-md31-default-rtdb.firebaseio.com",
            projectId: "soundbox-du-an-md31",
            storageBucket: "soundbox-du-an-md31.appspot.com",
            messagingSenderId: "265264289877",
            appId: "1:265264289877:web:0f88e2fa54c638685e9cdc",
            measurementId: "G-FE9Z9NKJDR"
        };
        firebase.initializeApp(firebaseConfig);
        // Định nghĩa songsRef ở mức toàn cục hoặc một phạm vi có thể truy cập bởi các sự kiện khác
        const database = firebase.database();
        const songsRef = database.ref("songs");


        document.addEventListener("DOMContentLoaded", function () {
            const saveButton = document.getElementById("save");

            saveButton.addEventListener("click", function () {
                const title = document.getElementById("exampletitle").value;
                const artist = document.getElementById("exampleartist").value;
                const author = document.getElementById("exampleauthor").value;
                const genre = document.getElementById("exampgenre").value;
                const url = document.getElementById("exampleurl").value;
                const img = document.getElementById("exampleimg").value;
                const copyrighted = document.getElementById("copyrighted").checked;

                const database = firebase.database();
                const songsRef = database.ref("songs");

                const newSong = {
                    title: title,
                    artist: artist,
                    author: author,
                    genre: genre,
                    url: url,
                    image: img,
                    copyrighted: copyrighted,
                };

                songsRef.push(newSong)
                    .then(function () {
                        console.log(img);
                        console.log("Bài hát đã được lưu vào Firebase Realtime Database.");
                        $("#exampleModal").modal("hide");
                    })
                    .catch(function (error) {
                        console.error("Lỗi khi lưu bài hát vào Firebase Realtime Database: " + error.message);
                    });
            });
        });

        document.addEventListener("DOMContentLoaded", function () {
            // Định nghĩa songsRef ở mức toàn cục hoặc một phạm vi có thể truy cập bởi các sự kiện khác


            const songsTable = document.getElementById("songsTable");
            const database = firebase.database();
            const songsRef = database.ref("songs");

            songsRef.on("value", (snapshot) => {
                // Xóa tất cả các dòng hiện có trong bảng
                while (songsTable.firstChild) {
                    songsTable.removeChild(songsTable.firstChild);
                }

                snapshot.forEach((childSnapshot) => {
                    const songData = childSnapshot.val();

                    // Tạo một dòng mới trong bảng
                    const row = songsTable.insertRow();

                    // Tạo các ô dữ liệu
                    const titleCell = row.insertCell(0);
                    titleCell.textContent = songData.title || "";
                    titleCell.classList.add("title-cell"); 

                    const artistCell = row.insertCell(1);
                    artistCell.textContent = songData.artist || "";
                    artistCell.classList.add("title-cell"); 

                      const imageCell = row.insertCell(2);
                    const image = document.createElement("img");
                    image.src = songData.image || "";
                    image.alt = "Song Image";
                    image.style.width = "150px"; // Đặt chiều rộng của hình ảnh
                    image.style.height = "100px"; // Đặt chiều cao của hình ảnh
                    imageCell.appendChild(image);
                    imageCell.classList.add("image-cell"); 

                    const authorCell = row.insertCell(3);
                    authorCell.textContent = songData.author || "";
                    authorCell.classList.add("genre-cell");

                    const genreCell = row.insertCell(4);
                    genreCell.textContent = songData.genre || "";
                    genreCell.classList.add("genre-cell");
                  

                   
                    // Tạo ô chức năng (nút xóa và sửa)
                    const actionCell = row.insertCell(5);

                    // Nút Xóa
                    const deleteButton = document.createElement("button");
                    deleteButton.textContent = "Xóa";
                    deleteButton.classList.add("btn", "btn-danger");
                    deleteButton.addEventListener("click", () => {
                        // Hiển thị modal xác nhận
                        $("#confirmDeleteModal").modal("show");
                        // Sử dụng biến `childSnapshot.key` để lưu key của bài hát cần xóa
                        let songKeyToDelete = childSnapshot.key;
                        // Xử lý xóa nếu người dùng xác nhận
                        document.getElementById("confirmDeleteButton").addEventListener("click", () => {
                            songsRef.child(songKeyToDelete).remove();
                            $("#confirmDeleteModal").modal("hide"); // Ẩn modal sau khi xóa xong
                        });
                    });
                    actionCell.appendChild(deleteButton);

                    // Nút Sửa
                    const editButton = document.createElement("button");
                    editButton.textContent = "Sửa";
                    editButton.classList.add("btn", "btn-edit");
                    editButton.addEventListener("click", () => {
                        console.log("Edit button clicked");
                        $("#editModal").modal("show");
                        document.getElementById("editSongKey").value = childSnapshot.key;
                        document.getElementById("editTitle").value = songData.title || "";
                        document.getElementById("editArtist").value = songData.artist || "";
                        document.getElementById("editAuthor").value = songData.author || "";
                        document.getElementById("editGenre").value = songData.genre || "";
                        document.getElementById("editUrl").value = songData.url || "";
                        document.getElementById("editImage").value = songData.image || "";
                        document.getElementById("editCopyrighted").checked = songData.copyrighted || false;
                    });
                    actionCell.appendChild(editButton);
                });
            });
        });

        document.addEventListener("DOMContentLoaded", function () {

            const saveEditButton = document.getElementById("saveEdit");
            saveEditButton.addEventListener("click", () => {
                const songKey = document.getElementById("editSongKey").value;
                const editedTitle = document.getElementById("editTitle").value;
                const editedArtist = document.getElementById("editArtist").value;
                const editedAuthor = document.getElementById("editAuthor").value;
                const editedGenre = document.getElementById("editGenre").value;
                const editedUrl = document.getElementById("editUrl").value;
                const editImage = document.getElementById("editImage").value;
                const editedCopyrighted = document.getElementById("editCopyrighted").checked;

                console.log("Title:", editedTitle);
                console.log("Artist:", editedArtist);
                console.log("Author:", editedAuthor);
                console.log("Genre:", editedGenre);
                console.log("URL:", editedUrl);
                console.log("Image:", editImage);
                console.log("Copyrighted:", editedCopyrighted);

                const editedSongRef = songsRef.child(songKey);
                editedSongRef.update({
                    title: editedTitle,
                    artist: editedArtist,
                    author: editedAuthor,
                    genre: editedGenre,
                    image: editImage,
                    url: editedUrl,
                    copyrighted: editedCopyrighted
                });
                console.log("Song edited successfully.");
                $("#editModal").modal("hide");
            });
        });

        /////////////////////////////////////////////////////////////////////CRUD/////////////////////////////////////////////////////////////////////////////////


    </script>

</body>

</html>
=======

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>

        <!-- Firebase JavaScript SDK -->
        <script src="https://www.gstatic.com/firebasejs/8.8.0/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.8.0/firebase-database.js"></script>

        <script>
             
            const firebaseConfig = {
                apiKey: "AIzaSyCZgZP878mOAM2ec-hz1WFwORxSw_J6d2k",
                authDomain: "soundbox-du-an-md31.firebaseapp.com",
                databaseURL: "https://soundbox-du-an-md31-default-rtdb.firebaseio.com",
                projectId: "soundbox-du-an-md31",
                storageBucket: "soundbox-du-an-md31.appspot.com",
                messagingSenderId: "265264289877",
                appId: "1:265264289877:web:0f88e2fa54c638685e9cdc",
                measurementId: "G-FE9Z9NKJDR"
            };
            firebase.initializeApp(firebaseConfig);
            const database = firebase.database();
            const songsRef = database.ref("songs");

            document.addEventListener("DOMContentLoaded", function () {
                const saveButton = document.getElementById("save");

                saveButton.addEventListener("click", function () {
                    const title = document.getElementById("exampletitle").value;
                    const artist = document.getElementById("exampleartist").value;
                    const author = document.getElementById("exampleauthor").value;
                    const genre = document.getElementById("exampgenre").value;
                    const url = document.getElementById("exampleurl").value;
                    const img = document.getElementById("exampleimg").value;
                    const copyrighted = document.getElementById("copyrighted").checked;

                    const newSong = {
                        title: title,
                        artist: artist,
                        author: author,
                        genre: genre,
                        url: url,
                        image: img,
                        copyrighted: copyrighted,
                    };

                    songsRef.push(newSong)
                        .then(function () {
                            console.log("Bài hát đã được lưu vào Firebase Realtime Database.");
                            $("#exampleModal").modal("hide");
                        })
                        .catch(function (error) {
                            console.error("Lỗi khi lưu bài hát vào Firebase Realtime Database: " + error.message);
                        });
                });
            });

            //Hiển thị dữ liệu từ Firebase
            document.addEventListener("DOMContentLoaded", function () {
                const songsTable = document.getElementById("songsTable");

                songsRef.on("value", (snapshot) => {
                       const startIndex = (currentPage - 1) * songsPerPage;
                        const endIndex = startIndex + songsPerPage;
                        const songsToDisplay = data.slice(startIndex, endIndex);
                    songsTable.innerHTML = "";

                    snapshot.forEach((childSnapshot) => {
                        const songData = childSnapshot.val();
                        // Tạo một dòng mới trong bảng
                        const row = songsTable.insertRow();
                        // Tạo các ô dữ liệu
                        const titleCell = row.insertCell(0);
                        titleCell.textContent = songData.title;

                        const artistCell = row.insertCell(1);
                        artistCell.textContent = songData.artist;

                        const authorCell = row.insertCell(2);
                        authorCell.textContent = songData.author;

                        const genreCell = row.insertCell(3);
                        genreCell.textContent = songData.genre;

                        const Countcount = row.insertCell(4);
                        Countcount.textContent = songData.count; 

                        // Tạo ô dữ liệu cho trường hình ảnh (image)
                        const imageCell = row.insertCell(5);
                        const imageElement = document.createElement("img");
                        imageElement.src = song.image; // Sử dụng trường hình ảnh
                        imageElement.alt = song.title; // Tên bài hát là alt text
                        imageElement.style.maxWidth = "100px"; // Điều chỉnh kích thước hình ảnh nếu cần
                        imageCell.appendChild(imageElement);
                                    

                        // Tạo ô chức năng (nút xóa và sửa)
                        const actionCell = row.insertCell(6);
                        const deleteButton = document.createElement("button");
                        deleteButton.textContent = "Xóa";
                        deleteButton.classList.add("btn", "btn-danger");
                        deleteButton.addEventListener("click", () => {
                        // Hiển thị modal xác nhận
                                $("#confirmDeleteModal").modal("show");
                                // Sử dụng biến `childSnapshot.key` để lưu key của bài hát cần xóa
                                let songKeyToDelete = childSnapshot.key;
                                // Xử lý xóa nếu người dùng xác nhận
                                document.getElementById("confirmDeleteButton").addEventListener("click", () => {
                                    songsRef.child(songKeyToDelete).remove();
                                    $("#confirmDeleteModal").modal("hide"); // Ẩn modal sau khi xóa xong
                                });
                            });
                        actionCell.appendChild(deleteButton);
                        const editButton = document.createElement("button");
                        editButton.textContent = "Sửa";
                        editButton.classList.add("btn", "btn-edit");
                        editButton.addEventListener("click", () => {
                            $("#editModal").modal("show");
                            document.getElementById("editSongKey").value = childSnapshot.key;
                            document.getElementById("editTitle").value = songData.title;
                            document.getElementById("editArtist").value = songData.artist;
                            document.getElementById("editAuthor").value = songData.author;
                            document.getElementById("editGenre").value = songData.genre;
                            document.getElementById("editUrl").value = songData.url;
                            document.getElementById("editImage").value = songData.image;
                            document.getElementById("editCopyrightedYes").checked = songData.copyrighted;
                            document.getElementById("editModal").classList.add("show");
                            document.getElementById("editModal").style.display = "block";

                        });
                        actionCell.appendChild(editButton);
                    });
                });
            });
            document.addEventListener("DOMContentLoaded", function () {
                const saveEditButton = document.getElementById("saveEdit");
                saveEditButton.addEventListener("click", () => {
                    const songKey = document.getElementById("editSongKey").value;
                    const editedTitle = document.getElementById("editTitle").value;
                    const editedArtist = document.getElementById("editArtist").value;
                    const editedAuthor = document.getElementById("editAuthor").value;
                    const editedGenre = document.getElementById("editGenre").value;
                    const editedUrl = document.getElementById("editUrl").value;
                    const editImage = document.getElementById("editImage").value;
                   const editedCopyrighted = document.getElementById("editCopyrightedYes").checked;
                    const editedSongRef = songsRef.child(songKey);
                    editedSongRef.update({
                        title: editedTitle,
                        artist: editedArtist,
                        author: editedAuthor,
                        genre: editedGenre,
                        url: editedUrl,
                        image: editImage,
                        copyrighted: editedCopyrighted,
                    })
                    $("#editModal").modal("hide");
        });
    });


    //Tìm kiếm bài hát: 
    // Đặt biến để lưu danh sách bài hát gốc (trước khi tìm kiếm)
let originalSongsData = [];
// Lắng nghe sự kiện khi tìm kiếm
document.getElementById("searchButton").addEventListener("click", function () {
  const searchTerm = document.getElementById("searchInput").value.toLowerCase(); // Lấy nội dung tìm kiếm và chuyển đổi thành chữ thường

  // Lọc danh sách bài hát gốc để tìm kiếm
  const filteredSongs = originalSongsData.filter(function (song) {
    // Kiểm tra xem tiêu đề, ca sĩ hoặc thể loại có chứa nội dung tìm kiếm không
    return (
      song.title.toLowerCase().includes(searchTerm) ||
      song.artist.toLowerCase().includes(searchTerm) ||
      song.genre.toLowerCase().includes(searchTerm)
    );
  });
  // Gọi hàm để hiển thị kết quả tìm kiếm
  displaySearchResults(filteredSongs);
});

// Hàm để hiển thị kết quả tìm kiếm
function displaySearchResults(results) {
     const startIndex = (currentPage - 1) * songsPerPage;
    const endIndex = startIndex + songsPerPage;
    const songsToDisplay = data.slice(startIndex, endIndex);

   
  const songsTable = document.getElementById("songsTable");
  songsTable.innerHTML = ""; // Xóa bảng hiện tại

  results.forEach(function (songData) {
    // Tạo một dòng mới trong bảng
    const row = songsTable.insertRow();

    // Tạo các ô dữ liệu
    const titleCell = row.insertCell(0);
    titleCell.textContent = songData.title;

    const artistCell = row.insertCell(1);
    artistCell.textContent = songData.artist;

    const authorCell = row.insertCell(2);
    authorCell.textContent = songData.author;

    const genreCell = row.insertCell(3);
    genreCell.textContent = songData.genre;

    const Countcount = row.insertCell(4);
    Countcount.textContent = songData.count; 

       // Tạo ô dữ liệu cho trường hình ảnh (image)
        const imageCell = row.insertCell(5);
        const imageElement = document.createElement("img");
        imageElement.src = song.image; // Sử dụng trường hình ảnh
        imageElement.alt = song.title; // Tên bài hát là alt text
        imageElement.style.maxWidth = "100px"; // Điều chỉnh kích thước hình ảnh nếu cần
        imageCell.appendChild(imageElement);

    // Tạo ô chức năng (nút xóa và sửa)
    const actionCell = row.insertCell(6);
    const deleteButton = document.createElement("button");
    deleteButton.textContent = "Xóa";
    deleteButton.classList.add("btn", "btn-danger");
    deleteButton.addEventListener("click", () => {
      // Hiển thị modal xác nhận
      $("#confirmDeleteModal").modal("show");
      // Sử dụng biến `songData.key` để lưu key của bài hát cần xóa
      let songKeyToDelete = songData.key;
      // Xử lý xóa nếu người dùng xác nhận
      document.getElementById("confirmDeleteButton").addEventListener("click", () => {
        songsRef.child(songKeyToDelete).remove();
        $("#confirmDeleteModal").modal("hide"); // Ẩn modal sau khi xóa xong
      });
    });
    actionCell.appendChild(deleteButton);

    const editButton = document.createElement("button");
    editButton.textContent = "Sửa";
    editButton.classList.add("btn", "btn-edit");
    editButton.addEventListener("click", () => {
      $("#editModal").modal("show");
      document.getElementById("editSongKey").value = songData.key;
      document.getElementById("editTitle").value = songData.title;
      document.getElementById("editArtist").value = songData.artist;
      document.getElementById("editAuthor").value = songData.author;
      document.getElementById("editGenre").value = songData.genre;
      document.getElementById("editUrl").value = songData.url;
      document.getElementById("editImage").value = songData.image;
      document.getElementById("editCopyrightedYes").checked = songData.copyrighted;
      document.getElementById("editModal").classList.add("show");
      document.getElementById("editModal").style.display = "block";
    });
    actionCell.appendChild(editButton);
  });
}

// Lắng nghe sự kiện khi dữ liệu từ Firebase Realtime Database được cập nhật
        songsRef.on("value", (snapshot) => {
        originalSongsData = []; // Đặt danh sách gốc trống
        snapshot.forEach((childSnapshot) => {
            const songData = childSnapshot.val();
            songData.key = childSnapshot.key; // Lưu key của bài hát
            originalSongsData.push(songData);
        });

  // Hiển thị danh sách gốc khi trang web được tải lần đầu
        displaySearchResults(originalSongsData);
        });
    // Lắng nghe sự kiện sắp xếp theo tiêu đề
        document.getElementById("sortByTitle").addEventListener("click", function () {
        const sortedSongs = originalSongsData.slice(); // Sao chép danh sách bài hát gốc
        sortedSongs.sort((a, b) => a.title.localeCompare(b.title)); // Sắp xếp theo tiêu đề
        displaySearchResults(sortedSongs);
        });
    // Lắng nghe sự kiện sắp xếp theo ca sĩ
        document.getElementById("sortByArtist").addEventListener("click", function () {
        const sortedSongs = originalSongsData.slice(); // Sao chép danh sách bài hát gốc
        sortedSongs.sort((a, b) => a.artist.localeCompare(b.artist)); // Sắp xếp theo ca sĩ
        displaySearchResults(sortedSongs);
        });
    // Lắng nghe sự kiện lọc bài hát không có bản quyền
        document.getElementById("filterNoCopyrighted").addEventListener("change", function () {
        const filterValue = document.getElementById("filterNoCopyrighted").checked;

        if (filterValue) {
            // Lọc bài hát có bản quyền
            const filteredSongs = originalSongsData.filter((song) => song.copyrighted === false);
            displaySearchResults(filteredSongs);
        } else {
            // Hiển thị toàn bộ danh sách
            displaySearchResults(originalSongsData);

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Document</title>
    <style>
        
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;

        }
        });
    // Lắng nghe sự kiện lọc bài hát có bản quyền
        document.getElementById("filterCopyrighted").addEventListener("change", function () {
        const filterValue = document.getElementById("filterCopyrighted").checked;

        if (filterValue) {
            // Lọc bài hát có bản quyền
            const filteredSongs = originalSongsData.filter((song) => song.copyrighted === true);
            displaySearchResults(filteredSongs);
        } else {
            // Hiển thị toàn bộ danh sách
            displaySearchResults(originalSongsData);
        }
        });
     // Lắng nghe sự kiện lọc bài hát tất cả
        document.getElementById("filterAllCopyrighted").addEventListener("change", function () {
     
            // Hiển thị toàn bộ danh sách
            displaySearchResults(originalSongsData);
        });


///////////////////////////////////////////Phân Trang////////////////////////////////////////////
        const songsPerPage = 10; // Số bài hát trên mỗi trang
        let currentPage = 1; // Trang hiện tại
        // Lắng nghe sự kiện khi nút "Trang trước" được nhấn
    document.getElementById("prevPage").addEventListener("click", function () {
        if (currentPage > 1) {
            currentPage--;
            displaySearchResults(originalSongsData); // Hiển thị lại danh sách với trang mới
        }

    });
    // Lắng nghe sự kiện khi nút "Trang sau" được nhấn
    document.getElementById("nextPage").addEventListener("click", function () {
        const maxPage = Math.ceil(originalSongsData.length / songsPerPage);
        if (currentPage < maxPage) {
            currentPage++;
            displaySearchResults(originalSongsData); // Hiển thị lại danh sách với trang mới
        }
    });


// Hàm hiển thị danh sách với phân trang
function displaySearchResults(data) {
    const startIndex = (currentPage - 1) * songsPerPage;
    const endIndex = startIndex + songsPerPage;
    const songsToDisplay = data.slice(startIndex, endIndex);

    const songsTable = document.getElementById("songsTable");
    songsTable.innerHTML = "";

    songsToDisplay.forEach((song) => {
        // Tạo dòng và các ô dữ liệu cho mỗi bài hát
        const row = songsTable.insertRow();
       
        // Tạo các ô dữ liệu cho các trường thông tin của bài hát
        const titleCell = row.insertCell(0);
        titleCell.textContent = song.title;

        const artistCell = row.insertCell(1);
        artistCell.textContent = song.artist;

        const authorCell = row.insertCell(2);
        authorCell.textContent = song.author;

        const genreCell = row.insertCell(3);
        genreCell.textContent = song.genre;

        const urlCell = row.insertCell(4);

        urlCell.innerHTML = `<a href="${song.url}" target="_blank">${song.title}</a>`; 

        const copyrightedCell = row.insertCell(5);
        copyrightedCell.textContent = song.copyrighted ? "Có" : "Không";
        
        const listensCell = row.insertCell(6);
        listensCell.textContent = song.count; // Sử dụng trường lượt nghe

         // Tạo ô dữ liệu cho trường hình ảnh (image)
        const imageCell = row.insertCell(7);
        const imageElement = document.createElement("img");
        imageElement.src = song.image; // Sử dụng trường hình ảnh
        imageElement.alt = song.title; // Tên bài hát là alt text
        imageElement.style.maxWidth = "100px"; // Điều chỉnh kích thước hình ảnh nếu cần
         imageElement.style.height = "70px"; // Điều chỉnh kích thước hình ảnh nếu cần
        imageCell.appendChild(imageElement);

        // Tạo ô chức năng (nút xóa và sửa)
        const actionCell = row.insertCell(8);
        const deleteButton = document.createElement("button");
        deleteButton.textContent = "Xóa";
        deleteButton.classList.add("btn", "btn-danger");
        deleteButton.addEventListener("click", () => {
            // Hiển thị modal xác nhận
            $("#confirmDeleteModal").modal("show");
            // Sử dụng biến `song.key` hoặc trường khóa chính của bài hát để xóa
            let songKeyToDelete = song.key;
            // Xử lý xóa nếu người dùng xác nhận
            document.getElementById("confirmDeleteButton").addEventListener("click", () => {
                songsRef.child(songKeyToDelete).remove();
                $("#confirmDeleteModal").modal("hide"); // Ẩn modal sau khi xóa xong
            });
        });
        actionCell.appendChild(deleteButton);

        const editButton = document.createElement("button");
        editButton.textContent = "Sửa";
        editButton.classList.add("btn", "btn-edit");
        editButton.addEventListener("click", () => {
            $("#editModal").modal("show");
            document.getElementById("editSongKey").value = song.key;
            document.getElementById("editTitle").value = song.title;
            document.getElementById("editArtist").value = song.artist;
            document.getElementById("editAuthor").value = song.author;
            document.getElementById("editGenre").value = song.genre;
            document.getElementById("editUrl").value = song.url;
            document.getElementById("editCopyrighted").checked = song.copyrighted;
            document.getElementById("editModal").classList.add("show");
            document.getElementById("editModal").style.display = "block";
        });
        actionCell.appendChild(editButton);
    });
}
    </script>
    </body>
    </html>

    </style>
</head>
<body>
<h1>Quản lý music</h1>
    <table class="table table-bordered table-striped">
    <tr class="Textcenter">
        <th>Tên Bài Hát</th>
        <th>Ca Sĩ</th>
        <th>Avatar</th>
        <th>Url</th>
        <th>Lượt Nghe</th>
         <th>Bản Quyền</th>
        <th>Chức Năng</th>
    </tr>
        <tr> 
        <td class="Textcenter" style="width: 250px;"> Hãy Trao Cho Anh </td>
        <td class="Textcenter"  style="width: 200px;"> Sơn Tùng-MTP </td>
        <td class="Textcenter" style="width: 150px; ">
        <img  style="height: 70px ;width: 70px " src=""/>
        </td>
        <td class="Textcenter" style="width:300px;"> </td> 
        <td class="Textcenter" style="width:100px;"></td>
        <td class="Textcenter" style="width:100px;"></td>        
        <td class="btn">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#deleteModal">Xóa</button>
            <button type="button" class="btn btn-info"  data-toggle="modal" data-target="#editModal">Sửa</button>
        </td>
    </tr>
</table>
</body>
</html>

>>>>>>> 476a9f7094a0c5796f38d8223e989b58fb99395d
