* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Textcenter {
    text-align: center;
    font-weight: bold;
}

.btn-group {
    margin-top: 9px;
}
.textTitle{
    text-align: center;
    margin-left: 20px;
    color: aqua;
}